@tailwind base;
@tailwind components;
@tailwind utilities;

/* small baseline */
html, body, #__next { height: 100%; }
body { background: #f8fafc; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
